# HomeBrew: Set PATH, MANPATH, etc.,
eval "$(/usr/local/bin/brew shellenv)"
export PATH="${HOME}/.docker/bin:/opt/homebrew/opt/libpq/bin:${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

export EDITOR='nvim'
export VEDITOR='code'

# Spaceship
source ${HOME}/.zsh/spaceship/spaceship.zsh
fpath=("${HOMEBREW_PREFIX}/share/zsh/site-functions" $fpath)
autoload -U promptinit; promptinit
# prompt spaceship

# ASDF
. "$HOME/.asdf/asdf.sh"
# append completions to fpath
fpath=("${ASDF_DIR}/completions" $fpath)
# initialise completions with ZSH's compinit
autoload -Uz compinit && compinit

# bindkey
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line

# Environment variables
export PATH=${HOME}/bin:${PATH}
export PROJECTS="$HOME/Code"

# zsh
source $HOME/.zsh/completion.zsh
source $HOME/.zsh/alias.zsh
source $HOME/.zsh/alias_k8s.zsh

# Post shell notification
echo -e "Run: 'export SRC_ACCESS_TOKEN=' to use src-cli"
echo -e "Run: 'export BUNDLE_GEM__FURY__IO=' to use GemFury"
echo -e "Run: 'eval \$(op signin)' to sign into onepassword"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
