#!/bin/zsh

# HomeBrew: Set PATH, MANPATH, etc.,
eval "$(/usr/local/bin/brew shellenv)"
export PATH="~/.docker/bin:/opt/homebrew/opt/libpq/bin:"${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

export EDITOR='nvim'
export VEDITOR='code'

# Spaceship
source "${HOME}/.zsh/spaceship/spaceship.zsh"
fpath=("$HOMEBREW_PREFIX/share/zsh/site-functions" $fpath)
autoload -U promptinit; promptinit
# prompt spaceship

# ASDF
. "$HOME/.asdf/asdf.sh"
# append completions to fpath
fpath=(${ASDF_DIR}/completions $fpath)
# initialise completions with ZSH's compinit
autoload -Uz compinit && compinit

# bindkey
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line

# Environment variables
export PATH=${HOME}/bin:${PATH}
export PROJECTS="$HOME/Code"

# fzf completion and binding
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# nvm
export NVM_DIR="$HOME/.nvm"
  [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Sourcegraph
export SRC_ENDPOINT={{ onepasswordRead "op://Personal/zshrc/add more/SRC_ENDPOINT" }}

# Teleport
export TELEPORT_PROXY={{ onepasswordRead "op://Personal/zshrc/add more/TELEPORT_PROXY" }}
export TELEPORT_AUTH="gitlab"

# zsh
source $HOME/.zsh/completion.zsh
source $HOME/.zsh/alias.zsh
source $HOME/.zsh/alias_k8s.zsh

# Post shell notification
gecho -e "Run: 'okteto context use' if you want to start using okteto"
gecho -e "Run: 'export SRC_ACCESS_TOKEN=' to use src-cli"
gecho -e "Run: 'export BUNDLE_GEM__FURY__IO=' to use GemFury"
gecho -e "Run: 'eval \$(op signin)' to sign into onepassword"

source /Users/jeff.scelza/.docker/init-zsh.sh || true # Added by Docker Desktop

