# HomeBrew: Set PATH, MANPATH, etc.,
{{ if ("/usr/local/bin/brew" | lstat) }}
eval "$(/usr/local/bin/brew shellenv)"
{{ else }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
export PATH="${HOME}/.docker/bin:/opt/homebrew/opt/libpq/bin:${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

export EDITOR='nvim'
export VEDITOR='code'

# Spaceship
source $(brew --prefix)/opt/spaceship/spaceship.zsh

fpath=("${HOMEBREW_PREFIX}/share/zsh/site-functions" $fpath)
autoload -U promptinit; promptinit
# prompt spaceship

# ASDF
. "$HOME/.asdf/asdf.sh"
# append completions to fpath
fpath=("${ASDF_DIR}/completions" $fpath)
# initialise completions with ZSH's compinit
autoload -Uz compinit && compinit
# set up GoLang installed by ASDF
. ~/.asdf/plugins/golang/set-env.zsh

# bindkey
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line

# Environment variables
export PATH=${HOME}/bin:${PATH}
export PROJECTS="$HOME/Code"

# zsh
source $HOME/.zsh/completion.zsh
source $HOME/.zsh/alias.zsh
source $HOME/.zsh/alias_k8s.zsh

# Post shell notification
echo -e "Run: 'eval \$(op signin)' to sign into onepassword"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C /opt/homebrew/bin/terraform terraform
complete -o nospace -C /opt/homebrew/bin/terragrunt terragrunt
