#!/bin/bash

# {{ if eq .chezmoi.os "darwin" -}}

echo "---- Start of BREW setup ----"

if [ -e "/usr/local/bin/brew" ]; then
  echo "brew already installed"
else
  echo "Brew not found. Installing..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

/usr/local/bin/brew bundle install -v --no-lock --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
echo -e "---- End of ${TXT_BOLD}BREW${TXT_CLEAR} setup ----"
# {{ end -}}
