#!/usr/bin/env zsh

MODULES_FILE={{ joinPath .chezmoi.sourceDir ".chezmoi/data/vscode_extensions.txt" | quote }}

echo -e "---- Start of VSCode Extensions setup ----"

if command -v code >/dev/null; then
  echo "VSCode found"

  while IFS= read -r module; do
    if ! [[ $module =~ ^# ]]; then
      code --force --install-extension "$module" || true
    fi
  done < "$MODULES_FILE"
else
  echo "VSCode not found"
fi

echo -e "---- Stop of VSCode Extensions setup ----"
