{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [ -e $(which brew) ]; then
  echo "brew already installed"
else
  echo "Brew not found. Installing..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle install -v --no-lock --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
{{ end -}}

