#!/bin/sh

gecho -e "---- Start of ${TXT_BOLD}ASDF${TXT_CLEAR} setup ----"

if [ -e $(which asdf) ]; then
  echo "asdf already installed"
else
  echo "asdf not found. Installing..."
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
fi

asdf plugin-add awscli https://github.com/MetricMike/asdf-awscli.git
asdf plugin-add docker-slim https://github.com/everpeace/asdf-docker-slim.git
asdf plugin-add golang https://github.com/kennyp/asdf-golang.git
asdf plugin-add helm https://github.com/Antiarchitect/asdf-helm.git
asdf plugin-add istioctl https://github.com/virtualstaticvoid/asdf-istioctl.git
asdf plugin-add jq https://github.com/AZMCode/asdf-jq.git
asdf plugin-add kubectl https://github.com/asdf-community/asdf-kubectl.git
asdf plugin-add kubectx https://gitlab.com/wt0f/asdf-kubectx.git
asdf plugin add neovim
asdf plugin-add okteto https://github.com/BradenM/asdf-okteto.git
asdf plugin-add python
asdf plugin-add ruby https://github.com/asdf-vm/asdf-ruby.git
asdf plugin-add teleport-ent https://github.com/highb/asdf-teleport-ent.git
asdf plugin-add terraform https://github.com/asdf-community/asdf-hashicorp.git
asdf plugin-add terraform-ls https://github.com/asdf-community/asdf-hashicorp.git
asdf plugin-add terragrunt https://github.com/ohmer/asdf-terragrunt
asdf plugin-add vault https://github.com/asdf-community/asdf-hashicorp.git


asdf install
gecho -e "---- End of ${TXT_BOLD}ASDF${TXT_CLEAR} setup ----"
