#!/bin/bash

gecho -e "---- Start of ${TXT_BOLD}ASDF${TXT_CLEAR} setup ----"

if [ -e "${HOME}/.asdf/asdf.sh" ]; then
  echo "asdf already installed"
else
  echo "asdf not found. Installing..."
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.11.3
fi

# List of plugins cat be found @ https://github.com/asdf-vm/asdf-plugins#plugin-list
# for PLUGIN in $(awk '{print $1}' < {{ .chezmoi.sourceDir	}}/dot_tool-versions); do
#   asdf plugin-add "${PLUGIN}"
#   # Will install version in the ~/.tools-versions
#   asdf install "${PLUGIN}"
# done

gecho -e "---- End of ${TXT_BOLD}ASDF${TXT_CLEAR} setup ----"
